.searchBussection {
  padding-top: 120px;
  background-color: #fff;
}
.basicText{
  color: black;
}
.locationText {
  height: 80px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.locationText p {
  margin-bottom: 0;
}
.locationText span {
  font-weight: lighter;
}
.filterWrapper {
  display: flex;
  justify-content: space-between;
}
.filterBus {
  width: 30%;
  /* height: 400px; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px 15px;
  border-radius: 30px;
}
.filterBus h4 {
  font-size: 23px;
}
.filterBus .buttons button {
  padding: 7px 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid #0d0246;
  border-radius: 5px;
  font-size: 16px;
  background-color: transparent;
  transition: 0.5s;
}
.filterBus .buttons button:hover {
  background-color: #0d0246;
  color: #fff;
  transition: 0.5s;
}
.busCards {
  width: 68%;
  border-radius: 30px;
}
.busCard {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 30px;
  padding: 20px 15px;
  margin-bottom: 30px;
  cursor: pointer;
}
.busCards p {
  margin-bottom: 0;
}
.busName {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.busHeading p {
  font-weight: bold;
  text-transform: uppercase;
}
.rating {
  width: 60px;
  background-color: rgb(206, 202, 202);
  text-align: center;
  border-radius: 10px;
}
.star {
  width: 100%;
  padding: 4px;
  background-color: green;
  border-radius: 10px;
  color: #fff;
}
.price {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.busPhoto {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.seatButton button {
  padding: 10px 20px;
  background-color: #0d0246;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 17px;
  color: #fff;
  cursor: pointer;
}
.busWrapper {
  display: flex;
  gap: 30px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.closeIcon i {
  color: rgb(27, 3, 3);
  font-size: 30px;
}

/* Frop Pop Up start */
.form-container {
  background: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #444;
}

input[type="text"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 18px;
  border-radius: 5px;
}

.gender-options {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.gender-options label {
  font-weight: normal;
}

input[type="radio"] {
  margin-right: 6px;
  accent-color: #0d0246;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #0d0246ef;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.submit-btn:hover {
  background-color: #0d0246;
}

@media (max-width: 500px) {
  .form-container {
    padding: 20px;
  }
}
/* Frop Pop Up End*/

.overlay.active {
  display: flex;
}

@media (max-width: 1200px) {
  .filterWrapper {
    flex-direction: column;
  }
  .filterBus {
    width: 100%;
  }
  .busCards {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .filterWrapper {
    flex-direction: column;
  }
  .filterBus {
    width: 100%;
  }
  .busCards {
    width: 100%;
  }
  .busName {
    display: flex;
    /* flex-direction: column; */
    align-items: start;
    /* background-color: red; */
  }
  .busPhoto {
    display: none;
  }

  .busWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .busCard {
    position: relative;
    /* margin-top: 30px; */
  }
  .rating {
    position: absolute;
    right: 6%;
    bottom: 10%;
  }
}

.btnClick {
  cursor: pointer;
}
.mob-text {
    text-decoration: line-through;
}

@media (max-width: 768px) {
  .mob-text {
    position: relative;
    text-decoration: line-through;
    left: 32px;
  }
}