.destinationBar {
  width: 100%;
  padding: 30px 0;
  background-color: #f1f1f1;
  position: sticky;
  top: 0;
  display: flex;
  gap: 15px;
  align-items: center;
  border-radius: 20px;
}

.wrap-bd{
  margin-top:30px;
}

.destinationBar p {
  margin-bottom: 0;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

/* Wrapper for boarding and dropping boxes */
.box-wrapper {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Each box should be nearly half-width */
.bd-box {
  width: 48%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.bd-box h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #444;
  font-weight: 600;
}

.bd-label {
  position: relative;
  top: -16px;
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
}

input[type="radio"] {
  accent-color: green;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.bd-submit-btn {
    display: block;
    margin: 30px auto 0;
    padding: 17px 44px;
    background-color: #0d0246;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 19px;
    cursor: pointer;
    transition: background 0.3s;
}
/* Responsive for mobile view */
@media (max-width: 768px) {
  .box-wrapper {
    flex-direction: column;
  }

  .bd-box {
    width: 100%;
  }
}

/* BOARDING DROPPING SPECIFIC */
.closeIcon {
  font-size: 30px;
  cursor: pointer;
}

.bp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.timePlace {
  display: flex;
  gap: 20px;
}

.bp input[type="radio"] {
    position: relative;
    top: -16px;
    accent-color: green;
    width: 20px;
    height: 20px;
    cursor: pointer;
}