body {
  /* background-color: red; */
}

.seat-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

.seat-container {
  border: 1px solid #d5d5d5;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  box-sizing: border-box;
  height: auto;
}

.seats {
  position: relative;
  border: 1px solid #205bc4 !important;
  margin: 6px;
  height: 20px;
  width: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}

.seats::before {
  position: absolute;
  top: 9px;
  left: -3px;
  content: '';
  height: 14px;
  width: 25px;
  border-left: 4px solid #0f4687;
  border-right: 4px solid #0a4993;
  border-bottom: 4px solid #104a8f;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: transparent;
}

.blackText {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .seat-container {
    max-width: 100%;
    width: 100%;
    padding: 8px;
  }

  .seats {
    margin: 4px;
    height: 18px;
    width: 18px;
  }

  .seats::before {
    top: 8px;
    left: -3px;
    height: 12px;
    width: 22px;
  }

  .blackText {
    font-size: 14px;
  }
}

.seats.last-seat-style {
  height: 40px;
}

.last-seat-style::before {
  position: absolute;
  top: 29px;
  left: -3.9px;
  content: '';
  height: 14px;
  width: 25px;
  border-left: 4px solid #0f4687;
  border-right: 4px solid #0a4993;
  border-bottom: 4px solid #104a8f;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: transparent;
}


@media (max-width: 768px) {
  .seats.last-seat-style {
    height: 36px;
  }
}


.seats::before {
  border-left: 4px solid var(--borderColorLeft, #0f4687);
  border-right: 4px solid var(--borderColorRight, #0a4993);
  border-bottom: 4px solid var(--borderColorBottom, #104a8f);
}


